.detail-doctor-container {
  display: flex;
  gap: 45px;
  align-items: center;
  .left {
    .img {
      img {
        border: 1px solid;
        border-radius: 50%;
        width: 150px;
        height: 150px;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    .title-doctor {
      font-size: 25px;
      font-weight: 600;
    }
    .description-doctor {
      font-size: 20px;
    }
  }
}
