.slick-slider {
  margin: 0 120px;
  .slick-list {
    height: 250px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      border-radius: 10px;
      display: flex !important;
      justify-content: center;
    }
    .div {
      display: flex !important;
      flex-direction: column;
      gap: 5px;
      div {
        img {
          border: 1px solid;
          width: 300px;
          height: 200px;
          cursor: pointer;
        }
      }
      p {
        font-size: 17px;
        font-weight: 600;
      }
    }
  }
  .slick-arrow {
    border: 1px solid;
  }
  .slick-prev::before,
  .slick-next::before {
    opacity: 1;
    font-size: 40px;
  }
  .slick-prev {
    transform: translate(-250%, -200%) !important;
  }
  .slick-next {
    transform: translate(150%, -200%) !important;
  }
}
.Outstanding-doctor-container {
  .div {
    display: flex !important;
    flex-direction: column;
    div {
      img {
        height: 200px !important;
        width: 200px !important;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    p {
      font-size: 17px;
      font-weight: 600;
    }
  }
}
.Medical-facility-container,
.HandBook-container {
  background-color: #a3d7f9 !important;
}
.specialty-container,
.Medical-facility-container,
.Outstanding-doctor-container,
.HandBook-container {
  background-color: white;
  padding: 5px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .slick-prev::before,
  .slick-next::before {
    color: #a1c4fd !important;
    opacity: 1;
    font-size: 40px;
  }
  .specialty-title,
  .Medical-facility-title,
  .Outstanding-doctor-title,
  .HandBook-title {
    margin: 0px 135px;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      font-size: 15px;
      padding: 5px 10px !important;
      background-color: orange;
      border: none;
      border-radius: 5px;
    }
  }
}
