.HomePageHeader-container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 10;
  .left {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 100px;
    gap: 10px;
    i {
      font-size: 30px;
      cursor: pointer;
    }
    img {
      width: 150px;
      cursor: pointer;
    }
  }
  .center {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    span {
      font-weight: 700;
      font-size: 20px;
    }
    p {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .right {
    height: 100%;
    margin-right: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    i {
      font-size: 30px;
    }
    span {
      font-size: 20px;
      cursor: pointer;
    }
    .change-language:hover {
      text-decoration: underline;
    }
    .img-changeLanguage {
      width: 45px;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        scale: 1.25;
      }
    }
  }
}
